.post {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  background-color: rgb(52, 48, 54);
  text-align: center;
}

.post a {
  color: white;
}

.image {
  width: 100%;
  max-height: 20rem;
  overflow: hidden;
}

.image img {
  object-fit: cover;
}

.content {
  padding: 2rem;
}

.content h3 {
  margin: 0.5rem 0;
  font-size: 1.5rem;
}

.content time {
  font-style: italic;
  color: #a3a3ae;
}

.content p {
  line-height: 1.5rem;
}
