.contact {
  margin: 2rem auto;
  border-radius: 6px;
  background-color: #dbe1e6;
  width: 90%;
  max-width: 50rem;
  padding: 1rem;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  font-size: 1.5rem;
}

.contact h1 {
  font-size: 2rem;
  margin: 1rem 0;
  text-align: left;
}

.form label {
  display: block;
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  margin: 0.5rem 0 0.25rem 0;
}

.form input,
.form textarea {
  font: inherit;
  padding: 0.25rem;
  border-radius: 4px;
  width: 100%;
  border: 1px solid #918d96;
  resize: none;
}

.controls {
  display: flex;
  column-gap: 1rem;
  flex-wrap: wrap;
}

.control {
  flex: 1;
  min-width: 10rem;
}

.actions {
  margin-top: 1rem;
  text-align: right;
}

.form button {
  font: inherit;
  cursor: pointer;
  background-color: rgb(67, 89, 151);
  border: 1px solid rgb(67, 89, 151);
  padding: 0.5rem 1rem;
  border-radius: 4px;
  color: white;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}

.form button:hover {
  background-color: rgba(45, 64, 119, 0.973);
}

@media (min-width: 768px) {
  .contact h1 {
    font-size: 4rem;
    text-align: center;
  }
}
